/* GENERAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* HEADER */

header {
    top:0;
    left:0;
    width:20%;
    height: 100%;
    position: fixed;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    background: linear-gradient(0deg, rgba(42,96,124,1) 10%, rgba(68,141,177,1) 85%);
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    margin: 20px;
}

header h1 .seo {
    color:#f3d241;
}

header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

header nav ul {
    list-style-type: none;
    width: 100%;
    background-color: #2e6b8a;
    display: block;
}

header nav ul li {
    display: block;
    max-width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 20px;
    margin: 10px 0;
}

header nav ul li :a {
 font-size: 18px;
 text-decoration: none;
}

header nav ul li:hover {
    background:#f3d241;
}

/* TEXT STYLES */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* FLOATS */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* HERO DIV WITH BACKGROUND IMAGE */

.hero {
    float: right;
    height: 500px;
    width: 80%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* MAIN */

main {
    width: 80%;
    margin:0 auto;
    float: right;
}

/* SERVICES SECTIONS */

.service {
    margin:15px Auto;
    padding: 20px 20px;
    width: 95%;
    min-height:210px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    clear: both;
}

.service img {
    width: 30%;
    max-width: 270px;
    max-height: 200px;
    float: left;
    padding-right: 15px;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* BENEFITS ASIDE */

.benefits {
    width: 76%;
    margin:15px 2%;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    max-width:26%;
    margin: 25px 3.5%;
    color: #ffffff;
    clear: both;
    display: inline-block;
    vertical-align: top;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    border-radius: 40px;
    background-color: #2899d5;
}

/* FOOTER */

footer {
    width: 80%;
    float: right;
    background-color: #f3d241;;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
